html, body {
  font-family: Arial, sans-serif;
  margin: auto;
  padding: 0;
  z-index: -1;
  display: flex;
  width: 100%;
  height: 100%;
  scrollbar-width: none;
}
a, a > i, a > span {
  text-decoration: none !important;
  color: #fffbfa;
}
.left {
  /* display: flex; */
  align-items: center;
  padding: 0 10px;
  /* justify-content: center; */
  min-height: 100vh;
  background: #FFA07A;
}
/* Phần bên trái*/
section.left{
  margin-left: 0;
  margin-right: auto;
  width: 80%;
  height:min-content;
  /* background-color:  #fdfbf7; */
  color:  #cd7c5d;
  font-size: 60px;
  font-weight: bold;
  background-image: url(../img/Download\ premium\ psd\ _\ image\ of\ Artsy\ psd\ shimmering\ golden\ stars\ pattern\ banner\ by\ Aum\ about\ backgrounds\,\ stars\,\ design\ background\,\ pattern\,\ and\ glitter\ 2681052\(1\).jpeg);
  background-size: auto;
  background-repeat: repeat;
  height : 100%;
}
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
.chart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px; 
    width : 35%;
    margin: 0 auto; 
    padding : 5px;
    height : 50%;
}
.chart canvas {
    width: 10%;
    height: auto;
    padding: 1.5rem;
}
.chart-title {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #7b391a; 
    text-align: center;
    width: 100%;
    padding-top : 3rem;
}
.chartBack {
  background-color: #fffbfa;
  width: 98%;
  height: min-content;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
}
.progress {
    width: 80%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}
.progressBar {
    height: 100%;
    width: 0%;
    background-color: #f89d73;
    border-radius: 10px 0 0 10px; 
}
.progressText {
    color : black;
    font-size: 2rem;
    text-align: center;
} 
/* Phần menu bên phải */
#welcome{
  background-color:  #f89d73;
  height: 100%;
}
section.right{
  background-color:  #f89d73;
  margin-left: auto;
  margin-right: 0;
  width: 20%;
  color: #fffbfa;
  font-size: 16px;
  z-index: 1000;
}
section.right>section{
  position: fixed;
}
.avatarName{
  width: 100%;
  margin: auto;
  margin-top: 10px;
}
.avatarName>div{
  display: flex;
  align-items:center;
  margin: 0 10px;
}
.avatarName>div>img{
  width: 30%;
}
.avatarName>div>span{
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 5px;
  text-align: left;
}
.avatarName>div>a{
  margin-left: auto;
  margin-right: 10px;
  font-size: 20px;
}
/* Thêm công việc */
.addbusiness{
  margin-left: 1.6rem;
  margin-top: 0.8rem;
  display: flex;
  text-align: center;
  align-items: center;
}
a.circle {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #fffbfa;
  clip-path: circle(50%);
  height: 3.8rem;
  width: 3.8rem;
  font-size: 3.2rem;
  font-weight: 500;
  color: #f89d73;
}
.addbusiness>span{
  padding-left: 10px;
  font-size: 16px;
}
.circle:hover{
  animation: pulse 1.5s;
}
@keyframes pulse {
  0% {
    transform: scale(.85);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
/* menu */
.manage{
  display: flex;
  margin: 0;
  padding : 0;
}
.menuSmall{
  list-style-type: none;
  padding: 0 20px;
  margin-left: 2px;
  margin-bottom: 3px;
}
.menuSmall li{
  padding: 8px;
  margin-left: 10px;
}
.menuSmall>li>a>span{
  padding-left: 5px;
}
.menuBig{
  font-size: 17.2px;
  padding: 20px;
  padding-bottom: 3px;
  display: block;
  font-weight: bold;
  padding-top: 7px;
}
.menuSmall i{
  color: #fffbfa
}
.menuSmall > li {
  padding : 5.7px;
}
.copyright{
  margin-top: 40%;
  text-align: center;
  font-size: 15px;
}
.copyright > div {
  padding : 0;
  margin : -5px;
}
.menuSmall>li>span.close{
  display: none;
}
.days>li>span.close{
  display: none;
}
