body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    z-index: -1;
    display: flex;
}
html, body {
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #fffbfa;
}
/* Phần ngày tháng năm */
/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
.left{
  /* display: flex; */
  align-items: center;
  padding: 0 10px;
  /* justify-content: center; */
  min-height: 100vh;
  background: #FFA07A;
}
.wrapper{
  width: 100%;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  margin-top:  5px;
  margin-bottom: 1rem;
}
.wrapper header{
  display: flex;
  align-items: center;
  padding: 25px 30px 10px;
  justify-content: space-between;
  padding-bottom: 5px;
}
header .icons{
  display: flex;
}
header .icons span{
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  color: #878787;
  text-align: center;
  line-height: 38px;
  font-size: 1.9rem;
  user-select: none;
  border-radius: 50%;
}
.icons span:last-child{
  margin-right: -10px;
}
header .icons span:hover{
  background: #f2f2f2;
}
header .current-date{
  font-size: 1.45rem;
  font-weight: 500;
}
.calendar{
  padding: 7px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}
.calendar ul{
  display: flex;
  /* flex-wrap: wrap; */
  list-style: none;
  text-align: center;
  margin-bottom: 1rem;
}
.calendar .days{
  padding: 0 0.5rem;
}
.calendar .days li{
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
  padding-top: 0;
}
.calendar li{
  font-weight: 500;
  cursor: default;
}
.calendar .days li{
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
}
.days li.inactive{
  color: #aaa;
}
.days li.active{
  color: #fff;
}
.days li::before{
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
.days li.active::before{
  background: #f08459;
}
.days li:not(.active):hover::before{
    background: #97979741;
}
.selectedDay::before {
    background: #f596708e !important;
}
.days>li>span.close{
  display: none;
}
/* Phần thêm nhật ký */
#usrform{
  display: flex;
}
#myInput{
  width: 100%;
  height: 3rem;
  border-radius: 5px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  border: none;
  padding: 10px 10px;  
  margin: 5px 0;  
  box-sizing: border-box;
  margin-bottom: 0;
  margin-right: 5px;
}
#date{
  height: 3rem;
  background-color: #f08459;  
  border: none;  
  border-radius: 5px; 
  padding: 10px 10px;  
  text-decoration: none;  
  margin: 4px 2px;  
  cursor: pointer;
  color: #f2f2f2; 
  font-size: 14px;
  font-weight: bold;
}
#date:hover{
  animation: pulse 1.5s;
}
button#addButton {
  padding: 10px;
  border: none;
  background-color: #ef855bb7;
  color: white;
  border-radius: 4px;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
  margin-left: 1rem;
}
button#addButton:hover {
  background-color: #f08459;
}
textarea {
  width: 100%;
  margin: 5px 0 22px 0;
  background: #fff;
  height: 150px;  
  padding: 10px 10px;  
  box-sizing: border-box;  
  border: none;  
  border-radius: 5px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  resize: none;
}
#myUL {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  width : 60%;
  margin : 1rem auto;
  z-index: 10;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#myUL li {
  position: relative;
  padding: 10px;
  margin: 1.6rem;
  background-color: #f8f9fa;
  margin-bottom: 10px;
  border-radius: 4px;
  border-style: dotted;
  border-width: 2px;
  border-color: #333;
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 20rem;
  width: 13rem;
  overflow: hidden;
  display: block;
}
#myUL li .headlineDiary{
  justify-content: center;
  display: block;
  /* text-align: center; */
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
}
.contentDiary{
  width: 100%;
  height: 16rem;
  display: block;
  margin-top: 0.5rem;
}
.close {
  position: absolute;
  right : 18px;
  top: 29%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  color: #888;
  padding : 5px;
  height : 50%;
  width : 5%;
  margin : auto;
  text-align: center;
  transition : 0.1s;display: block;
} 
.close:hover {
  /* background-color: #f44336; */
  color: #f44336;
  font-size: 1.5rem;
  top: 26%;
}
/*thiết lập style cho textarea khi được focus */
.input-form textarea:focus {
  background-color: #ddd;
  outline: none;
}
#myInput:focus {
  background-color: #ddd;
  outline: none;
}
/* Phần từ home */
/* Phần bên trái*/
section.left{
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    height:min-content;
    /* background-color:  #fdfbf7; */
    color:  #cd7c5d;
    font-size: 60px;
    font-weight: bold;
    background-image: url(../img/Download\ premium\ psd\ _\ image\ of\ Artsy\ psd\ shimmering\ golden\ stars\ pattern\ banner\ by\ Aum\ about\ backgrounds\,\ stars\,\ design\ background\,\ pattern\,\ and\ glitter\ 2681052\(1\).jpeg);
    background-size: auto;
    background-repeat: repeat;
    padding: 0;
}
section.left>div.container{
    display: flex;
    height:100%;
    height: min-content;
    align-items:center;
    margin:1rem;
    padding: 1rem;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
    flex-direction: column;
    font-size: 14px;
}

/* Phần menu bên phải */
#welcome{
    background-color:  #f89d73;
    height: 100%;
  }
  section.right{
    background-color:  #f89d73;
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    color: #fffbfa;
    font-size: 16px;
    z-index: 1000;
  }
  section.right>section{
    position: fixed;
  }
  .avatarName{
    width: 100%;
    margin: auto;
    margin-top: 10px;
  }
  .avatarName>div{
    display: flex;
    align-items:center;
    margin: 0 10px;
  }
  .avatarName>div>img{
    width: 30%;
  }
  .avatarName>div>span{
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5px;
    text-align: left;
  }
  .avatarName>div>a{
    margin-left: auto;
    margin-right: 10px;
    font-size: 20px;
  }
  /* Thêm công việc */
  .addbusiness{
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
  }
  .circle {
    background: #fffbfa;
    clip-path: circle(50%);
    height: 2.4rem;
    width: 2.4rem;
  }
  .circle{
    font-size: 2.05rem;
    font-weight: 500;
    color:  #f89d73;
  }
  .addbusiness>span{
    padding-left: 10px;
    font-size: 16px;
  }
  .circle:hover{
    animation: pulse 1.5s;
  }
  @keyframes pulse {
    0% {
      transform: scale(.85);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
    }
  }
  /* menu */
  .manage{
    display: flex;
  }
  .menuSmall{
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
  }
  .menuSmall li{
    padding: 8px;
    margin-left: 10px;
  }
  .menuSmall>li>a>span{
    padding-left: 5px;
  }
  .menuBig{
    font-size: 17px;
    padding: 20px;
    padding-bottom: 5px;
    display: block;
    font-weight: bold;
    padding-top: 10px;
  }
  .menuSmall i{
    color: #fffbfa
  }
  .copyright{
    margin-top: 40%;
    text-align: center;
    font-size: 15px;
  }
  .menuSmall>li>span.close{
    display: none;
  }