body {
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 0;
    z-index: -1;
    display: flex;
    background-color:  #f89d73;
}
html, body {
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: #fffbfa
}
.taskToday{
    width: 30%;
    padding: 3px;
  }
.dateToday{
      padding: 3px;
      background-color: #ff8488a8;
      border-radius: 5px;
      width: 3rem;
      text-align: center;
  }
.filterToday{
      padding: 3px;
      background-color: #ffa07a86;
      border-radius: 5px;
      width: 7rem;
      margin-left: 8rem;
      text-align: center;
  }
/* Phần bên trái*/
section.left{
    margin-left: 0;
    margin-right: auto;
    width: 80%;
    height: min-content;
    /* background-color:  #fdfbf7; */
    color:  #cd7c5d;
    font-size: 60px;
    font-weight: bold;
    background-image: url(../img/Download\ premium\ psd\ _\ image\ of\ Artsy\ psd\ shimmering\ golden\ stars\ pattern\ banner\ by\ Aum\ about\ backgrounds\,\ stars\,\ design\ background\,\ pattern\,\ and\ glitter\ 2681052\(1\).jpeg);
    background-size: cover;
    height : 100%;
}
h1 {
    text-align: center;
    color: #cd7c5d;
    font-size: 60px;
    margin: 30px;
}
.input-form {
    display : flex;
    width : 60%;
    margin : 0 auto;
}
input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select, #myItem {
    margin-right: 1rem;
    width : 25%;
}
button#addButton {
    padding: 10px;
    border: none;
    background-color: #ef855bb7;
    color: white;
    border-radius: 4px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    margin-left: 1rem;
  }
  button#addButton:hover {
    background-color: #f08459;
  }
#myUL {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    width : 60%;
    margin : 1rem auto;
    z-index: 10;
    font-size: 0.9rem;
    height: 430px;
    overflow: auto;
    scrollbar-width: none;
  -ms-overflow-style: none;
}
#myUL::-webkit-scrollbar { 
    width: 0 !important;
    display: none; 
  }
#myUL li {
    position: relative;
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    text-decoration: none;
    border : 1px solid gray;
    color : black;
    font-weight: 100;
    display: flex;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
    color: #888;
    padding : 5px;
    height : 50%;
    width : 5%;
    margin : auto;
    text-align: center;
    transition : 0.1s;
  } 
  .close:hover {
    /* background-color: #f44336; */
    color: #f44336;
    font-size: 1.5rem;
    top: 40%;
  }
#myUL li.completed {
    text-decoration: line-through;
    background-color: #e9ecef;
    color: gray;
}

/* Phần menu bên phải */
section.right{
    background-color:  #f89d73;
    margin-left: auto;
    margin-right: 0;
    width: 20%;
    color: #fffbfa;
    font-size: 16px;
    z-index: 1000;
}
section.right>section{
    position: fixed;
}
.avatarName{
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
.avatarName>div{
    display: flex;
    align-items:center;
    margin: 0 10px;
}
.avatarName>div>img{
    width: 30%;
}
.avatarName>div>span{
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 5px;
    text-align: left;
}
.avatarName>div>a{
    margin-left: auto;
    margin-right: 10px;
    font-size: 20px;
}
/* Thêm công việc */
.addbusiness{
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: flex;
    text-align: center;
    align-items: center;
}
.circle {
    background: #fffbfa;
    clip-path: circle(50%);
    height: 2.4rem;
    width: 2.4rem;
}
.circle{
    font-size: 2.05rem;
    font-weight: 500;
    color:  #f89d73;
}
.addbusiness>span{
    padding-left: 10px;
    font-size: 16px;
}
.circle:hover{
    animation: pulse 1.5s;
}
  @keyframes pulse {
    0% {
      transform: scale(.85);
    }
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
    }
    100% {
      transform: scale(1);
      box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
    }
  }
/* menu */
.manage{
    display: flex;
}
.menuSmall{
    list-style-type: none;
    padding: 0 20px;
    margin: 0;
}
.menuSmall li{
    padding: 8px;
    margin-left: 10px;
}
.menuSmall>li>span.close{
    display: none;
}
.menuSmall>li>a>span{
    padding-left: 5px;
}
.menuBig{
    font-size: 17px;
    padding: 20px;
    padding-bottom: 5px;
    display: block;
    font-weight: bold;
    padding-top: 10px;
}
.menuSmall i{
    color: #fffbfa
}
.copyright{
    margin-top: 40%;
    text-align: center;
    font-size: 15px;
}