#meow{
    font-family: Arial, sans-serif;
    color: #f4f4f4;
    font-size: 16px;
}
a#meow{
    color: #653a3aa1;
}
body {
    font-family: Arial, sans-serif !important;
}
h1 {
    text-align: center;
    color: #fff;
    font-size: 40px;
}
form {
    max-width: 400px;
    margin: 10px auto;
    padding: 10px 10px;
    text-align: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
input[type="text"], input[type="password"] {
    width: 90%;
    padding: 10px;
    /* margin: 10px auto; */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
button {
    width: 95%;
    padding: 10px;
    background: #FFA07A;
    margin: 10px auto;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover {
    background: #FF7F50; /* Thay đổi màu sắc khi hover */
}
p {
    text-align: center;
    cursor: pointer;
    margin: 10px auto;
    text-align: center;
}
a {
    color: #FFA07A;
    text-decoration: none;
    cursor: pointer;
    z-index: 1;
    color : black;
}
a:hover {
    text-decoration: underline;
}
